# Claude Code
.claude/

# Maven
target/
*.class
*.jar

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# App
uploads/
*.log

# Angular
frontend/.angular/
frontend/node_modules/
frontend/dist/

desktop.ini
/.m2/repository/
